<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>OceanicTrade Investment</title>
    <link rel='stylesheet' href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <section>
            <!---Navigation--->
            <div class="nav-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="navbar-brand" href="#"><img src="Images/logo.png" alt="OceanicTrade"></div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="Index.html">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="About-Us.html">About us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="Investment-Plans.html">Investment Plans</a>
                            </li>

                            <li class="nav-item active-nav-link">
                                <a class="nav-link " href="Customer-Service.html">Customer Service</a>
                            </li>

                            <!--<li class="nav-item">
                                <a class="nav-link " href="Testimonials.html">Testimonials</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="Technology.html">Technology</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="Blog.html">Blog</a>
                            </li>--> 

                            <li class="nav-item">
                                <a class="nav-link " href="Contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>

        <!---Page Description--->
        <section id="page-description">
            <div class="page-description-wrapper">
                <div class="page-description-text">
                    <h1>CUSTOMER SERVICE</h1>
                    <h4>
                        <p>What does it look like earning bitcoins with us?</p>

                        <p>We provide answers to all your questions.<br>
                        Browse through Our Customer Service directory and get answers<br>
                        to the Frequently Asked Questions!</p>
                    </h4>
                </div>
            </div>
        </section>

        <!---Page Body--->
        <section id="customer-service-page-body">
            <div class="customer-service-page-body-wrapper">
                <div class="customer-service-page-left">
                    <h2>What Does OceanicTrade Mining/Trading Offer?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-right">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        OceanicTrade is a Cryptocurrency cloud mining and Trading platform that offers
                        an easy and safe way to purchase hashpower without having to deal with complex 
                        hardware and software setup. We offer hosted cryptocurrency mining services and
                        a variety of mining related solutions such as Trading services to small and large
                        scale customers. The combination of our algorithmic trading framework, mining 
                        infrastructure, and proprietary mining farm-management software, OceanicTrade Hive,
                        quickly made us the fastest growing blockchain investment industry.
                    </p>

                    <p>
                        Our team of mining and trading experts with extensive knowledge of the digital currency
                        sector specializes in building the most efficient and reliable mining facilities.
                        Genesis Mining is also the founding partner of Logos Fund, the first ever Bitcoin Mining Fund, 
                        which targets professional investors looking to gain access to Bitcoin’s and various
                        other digital assets’ potential.
                    </p>

                    <p>
                        Our services helps you to earn bitcoins by simply investing with us. We make your money work
                        for you by puting it into our mining and trading facilities. As we grow, you earn! With our
                        multi-algorithm mining services, we will never run out of coins. Our expert traders are here to
                        multiply and make sure you always earn.
                    </p>

                    <p>
                        If you ever look for where to start planning your retirement and keep earning through investment
                        OceanicTrade is your best option!
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapperdb">
                <div class="customer-service-page-leftdb">
                    <h2>How Do I Start Earning with OceanicTrade?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-rightdb">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        It’s quick and very easy! As soon as we receive your payment your contract will be added 
                        to your profile, and you can immediately start earning. It does not matter the investment 
                        plan you select and the associated mining/trading benefits, you start earning immediately
                        your payment is confirmed. You will get your daily percentage income on your dashboard at
                        the end of every mining/trading day.
                    </p>

                    <p>
                        <b>Note:</b> Your earnings will be avialable for withdrawal in 5, 7, or 10 days depending
                        on the investment plan you choose. withdraw earlier wit our Ultimate plan.
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapper">
                <div class="customer-service-page-left">
                    <h2>Which Pools are You Using for Mining?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-right">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        We do not publish a list of pools we are using. Our main criteria for a good pool are:
                        reliability, fee structure and reject rate. Going forward we will solo-mine a few coins
                        (and pass the fee savings to our users!).
                    </p>

                    <p>
                        Our internal policy is: “be a good crypto citizen”. This means, that we will at least use 
                        two different pools (in some cases we use up to four) for each coin. This is to preserve 
                        the decentralized nature of the crypto networks! If we become aware that a pool is getting 
                        close to 50% share, we will switch away from it and use a backup instead.
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapperdb">
                <div class="customer-service-page-leftdb">
                    <h2>Why Letting Us Mine?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-rightdb">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        Besides the fact that we ourselves mine with the very same hardware that we offer to our clients, 
                        our capital is limited. We believe that Bitcoin and Altcoin mining is one of the best ways to receive
                        Cryptocurrencies, however, we do not want to “put all our eggs in one basket”.
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapper">
                <div class="customer-service-page-left">
                    <h2>How can I Make Payments?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-right">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        <h5>We currently accept the following payment methods:</h5>
                    </p>
                    <p>
                        <ul>
                            <li><b>credit/debit card:</b> Visa, Mastercard</li>
                            <li><b>cryptocurrencies:</b> Bitcoin, Ethereum, Bitcoin Cash, Litecoin, Stellar.</li>
                        </ul>
                    </p>
                    <p>
                        <h5>Credit card purchase limits per user account:</h5>
                    </p>
                    <p> 
                        <ul>   
                            <li>Successful purchases per day: 5</li>
                            <li>Successful purchases per week: 10</li>
                            <li>Minimum purchase amount: 10.00 USD</li>
                            <li>Maximum transaction limit: 6,000 USD</li>
                            <li>Daily purchase limit: 25,000 USD</li>
                            <li>Monthly purchase limit: 25,000 USD</li>
                        </ul>
                    </p>
                    <p>
                        <h5>Cryptocurrency purchase limits per user account:</h5>
                    </p>
                    <p>
                        <ul>
                            <li>Successful purchases per day: <b>unlimited</b></li>
                            <li>Successful purchases per week: <b>unlimited</b></li>
                            <li>Daily purchase limit: <b>unlimited</b></li>
                            <li>Monthly purchase limit: <b>unlimited</b></li>
                        </ul>
                    </p>
                    <p>
                        <b>NOTE:</b> In some rare cases, some issuing banks may charge additional fees from customers who purchase Bitcoin
                        or cloud mining services via credit/debit card. They call it ‘cash advance’. If considered, please contact 
                        your bank beforehand for further information.
                    </p>
                    <p>
                        Your Payment should reflect immediately. However, it may take up to 48 hours for your account to show your deposit. 
                        If in case you don't see your deposit even after 48 hours, contact us with the screenshot of transaction as a proof of deposit
                        and your account will be credited after successful verification.
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapperdb">
                <div class="customer-service-page-leftdb">
                    <h2>Why Do I Need to Verify My ID?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-rightdb">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        <h5>Why am I being asked to verify my identity?</h5>
                    </p>
                    <p>
                        ID verification is required to prevent fraud and keep the community safe. It also adds an extra 
                        layer of security by ensuring no one but you have access to your account. In some cases, we require 
                        an additional verification in order to enable or continue investing with us.
                    </p>
                    <p>
                        <h5>Why the Delay in Completing ID Verification?</h5>
                    </p>
                    <p>
                        ID verification is usually completed within 7 to 10 working days. However in some cases it may be 
                        longer as a result of the following reasons:
                    </p>
                    <p>
                        <ul>
                            <li>Late response from the authorities of the ID issuing country confirming the authenticity of the document.</li>
                            <li>Inability to read the details on the documents.</li>
                            <li>Providing forged ID documnets</li>
                        </ul>
                    </p>
                    <p>
                        <h5>When uploading your photo ID through Email attachment</h5>
                    </p>
                    <p>
                        <ul>
                            <li>Ensure that your document is valid and not expired, without hole punches or other modifications</li>
                            <li>Ensure your document is in a well-lit area without glare. Natural sunlight is best</li>
                            <li>Photograph the entire document and avoid cutting off any corners or sides</li>
                            <li>Ensure the ID is fully visible and in focus</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapper">
                <div class="customer-service-page-left">
                    <h2>Verification Email Not Received?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-right">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        If you cannot find the verification link in your email, it's likely that it is being 
                        blocked by your email settings, or by a security filter.
                    </p>
                    <p>
                        <h5>To fix this, please try the following</h5>
                    </p>
                    <p>
                        <ul>
                            <li>click on the forgot password link ##### to get another email to verify your account.</li>
                        </ul>
                    </p>
                    <p>
                        <h5>I can't remember my password</h5>
                    </p>
                    <p>
                        In the event you forget your password, please use the following steps to successfully reset your password:
                    </p>
                    <p>
                        <ul>
                            <li>Visit the Forgotten Password Reset page.</li>
                            <li>Enter your email address and click "reset password."</li>
                            <li>This will send an email to the email address you entered. You must click the link in the email to open the new password page.</li>
                            <li>Type in the new password you want to use, twice, and click the confirmation button.</li>
                            <li>You can now use your new password to Sign In.</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapperdb">
                <div class="customer-service-page-leftdb">
                    <h2>Where Do I Start Investing in Mining/Trading?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-rightdb">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        The first step of investment is deciding what you're investing for. 
                    </p>
                    <p>
                        <ul>
                            <li>Are you saving for a specific?</li>
                            <li>short-term goal, such as a deposit for your first property, a new car, or to pay your?</li> 
                            <li>children's university fees? Or</li> 
                            <li>are you saving for the long term, to fund your retirement?</li>
                        </ul>
                    </p>
                    <p>
                        Your answers will largely determine how and where you invest. This is why we are here to 
                        help you achieve your goals. We at OceanicTrade helps put your investment to maximum use!<br>
                        <h5>Get started with us immediately!</h5>
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapper">
                <div class="customer-service-page-left">
                    <h2>How Does OceanicTrade Differ from Other Similar Companies?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-right">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        We do not like to compare ourself with any other company. OceanicTrade is unique with its style of operation.
                        We make use of most recent mining Technology to make the process efficient. Our Trading experts work tirelessly monitoring
                        the market and converting profits to multiply the cryptocurrenciesalready mined.
                    </p>
                    <p>
                        OceanicTrade serves also as an investment advicing platform. We help you to choose the best investment plans
                        to suit your needs. While most other platforms uses a robotic response to your requests, we are here with you 
                        always to help you achieve your financial goals.
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapperdb">
                <div class="customer-service-page-leftdb">
                    <h2>How Much Risk Should I Take?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-rightdb">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        The shorter your timescale, the fewer risks you can afford to take. You should never invest 
                        money in the stock market that you may need in the next few years, as that does not give you 
                        enough time to recover from a market crash. OceanicTrade mining/trading investment is a place to start 
                        and start getting your returns immediately.
                    </p>
                    <p>
                        From the very first day of your investment approval, you start earning returns from our automated mining and trading 
                        outputs. The accumulation of these earnings becomes available to you in as little as 5 days depending on your 
                        investment plan.
                    </p>
                    <p>
                        The shorter time you stay to get returns, the more profitable and less risky it is. This is what OceanicTrade represents.
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapper">
                <div class="customer-service-page-left">
                    <h2>Do I Need to Renew My Investments?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-right">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        You will need to renew your investments after a long-term mining and trading activity which you will earn 
                        from as described in each investment plan.
                    </p>
                    <p>
                        Our Aim in OceanicTrade is Sustainability. We let your Investment last for at least 30 days to 60 days
                        depending on your investment plan, after which you decide whether to reinvest or pull out. 
                        During this period, you will be able to cashout out your earnings as and when due. These earnings are all profits.
                    </p>
                    <p>
                        When your investment period elapses, we will charge you very low maintenance fee to service our machines
                        Please refer to the [maintenance fee section](####) to get further information on this.
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapperdb">
                <div class="customer-service-page-leftdb">
                    <h2>Why Do You Charge Maintenance Fees?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-rightdb">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        The whole trading setup is FREE, however there is little maintenance fee which enables 
                        us to run an AI - Integrated Algorithm, the most powerfully rated, trusted and known 
                        trading algorithm available in the market. 
                    </p>
                    <p>
                        A fixed maintenance fee is deducted from all investment plans for their full runtime. 
                        Current maintenance fees: USD 0.03 per TH/s per day. Please note that the fee is fixed 
                        in USD but deducted from the daily mining rewards in BTC. Please refer to the Terms of 
                        Service for further details.
                    </p>
                    <p>
                        There would never be any unexplained charges to your earnings. We even award 5% charges discount
                        for any transaction in our Ultimate Plan.
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapper">
                <div class="customer-service-page-left">
                    <h2>Can I Lose My Investments or Get Lower Returns Than I Invested?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-right">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        There is no way you can lose your investments with OceanicTrade. 
                        We have taken every necessary measure to ensure the security of your money.
                    </p>
                    <p>
                        <h4>What are the Measures Taken by OceanicTrade to Protect My Money?</h4>
                    </p>
                    <p>
                        OceanicTrade Mining/Trading is a Registered Investment Advisory, incorporated in England 
                        and Wales with Privated limited Company by Royal Charter 1853, under reference No. 04369656.
                    </p>
                    <p>
                        OceanicTrade offers Advice and Investment as a fiduciary, and we help you manage your money. 
                        We do this work as a legal entity—OceanicTrade Privated Limited Company, which is a-registered 
                        investment Company. Your money is protected and insuring investors up to $900,000 
                        (including $450,000 in claims for cash).
                    </p>
                    <p>
                        <h4>Is It Safe to Invest with OceaniTrade?</h4>
                    </p>
                    <p>
                        yes! It is extremely secure and safe to invest with OceanicTrade. Our investment strategy 
                        involves high security of our investors money.
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapperdb">
                <div class="customer-service-page-leftdb">
                    <h2>How Do I Withdraw My Money from OceaniTrade?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-rightdb">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        At this moment OceanicTrade allow withdrawals through PayPal or crypto wallet (We support 
                        Bitcoin wallet, Ethereum wallet, Bitcoin Cash wallet, Litecoin wallet, Stellar wallet).
                        We are sorry to say that direct bank withdrawals are not supported currently.
                    </p>
                    <p>
                        <h4>When Can I Withdraw?</h4>
                    </p>
                    <p>
                        Depending on the investment you have chosen, you can easily withdraw your total returns or in parts of 
                        a minimum of $20. For the BASIC PLAN, you can withdraw after 10 days of Mining/Trading. The SMART PLAN allows
                        you to withdraw after 7 days. The ULTIMATE PLAN lets you withdraw in even shorter period of 5 days.
                    </p>
                    <p>
                        For your deposit, you can withdraw your deposit after 90 days of your last deposit. To withdraw your 
                        deposits, go to Deposits on your dashboard and click on Withdraw button. If your deposits are available 
                        for withdraw, you will see a form where you can enter the amount you wish to withdraw from your deposits 
                        and submit the request.
                    </p>
                    <p>
                        <b>Note:</b> While we work hard to complete your withdrawal request as early as possible,
                        it can take up to 7 days.
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapper">
                <div class="customer-service-page-left">
                    <h2>How Does OceanicTrade Affiliate Program Work?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-right">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        There is no way you can lose your investments with OceanicTrade. 
                        We have taken every necessary measure to ensure the security of your money.
                    </p>
                    <p>
                        <h4>What are the Measures Taken by OceanicTrade to Protect My Money?</h4>
                    </p>
                    <p>
                        OceanicTrade Mining/Trading is a Registered Investment Advisory, incorporated in England 
                        and Wales with Privated limited Company by Royal Charter 1853, under reference No. 04369656.
                    </p>
                    <p>
                        OceanicTrade offers Advice and Investment as a fiduciary, and we help you manage your money. 
                        We do this work as a legal entity—OceanicTrade Privated Limited Company, which is a-registered 
                        investment Company. Your money is protected and insuring investors up to $900,000 
                        (including $450,000 in claims for cash).
                    </p>
                    <p>
                        <h4>Is It Safe to Invest with OceaniTrade?</h4>
                    </p>
                    <p>
                        yes! It is extremely secure and safe to invest with OceanicTrade. Our investment strategy 
                        involves high security of our investors money.
                    </p>
                </div>
            </div>

            <div class="customer-service-page-body-wrapperdb">
                <div class="customer-service-page-leftdb">
                    <h2>How Does OceanicTrade Affiliate Program Work?</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                </div>

                <div class="customer-service-page-rightdb">
                    <h2>Answer:</h2>
                    <hr style="border-top: 3px dotted black; margin: 2px; width: 80%; padding-bottom: 30px;">
                    <p>
                        Our Affiliate program helps you to earn more by referring investors who will actively participate in 
                        our Mining and Trading investment options. In your dashboard you will find your personal affiliate link. 
                        Note that you are not supposed used your affiliate link, just click it to copy and share to your friends 
                        and family who has an interest of investing with OceanicTrade Bitcoin Mining/Trading.
                    </p>
                    <p>
                        Your afiiliate benefits depends on the investment plan chosen by your affiliate. Your account will be credited
                        with the affiliate commission immediately your affiliate registers. However, you can only access it when 
                        we confirm the deposit of your affiliate. This is explained better in the affiliate section of your dashboard.
                    </p>
                </div>
            </div>
        </section>

        <!---Prompt Banner--->
        <section id="prompt-banner">
            <div class="prompt-banner-wrapper">
                <div class="prompt-banner-text">
                    <h1>Try Oceanic Trade Today</h1>
                    <p>world automated trading platform</p>

                    <div class="button-signup">
                        <button type="button" class="btn">SIGN UP</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

<footer>
    <div class="footer">
        <div class="footer-wrapper">
            <div class="four-column-grid">
                <div class="footer-items">
                    <div class="footer-link-text">
                        <p><a class="b" href="Index.html">Home</a></p>
                        <p><a class="c" href="Investment-Plans.html">Investment Plans</a></p>
                        <p><a class="d" href="###">Why OceanicTrade</a></p>
                    </div>
                </div>

                <div class="footer-items">
                    <div class="footer-link-text">
                        <p><a class="e" href="About-Us.html">About Us</a></p>
                        <p><a class="f" href="###">Our Mission</a></p>
                        <p><a class="g" href="###">Financial Planning</a></p>
                    </div>
                </div>

                <div class="footer-items">
                    <div class="footer-link-text">
                        <p><a class="h" href="####">Overview</a></p>
                        <p><a class="i" href="Customer-Service.html">Customer Service</a></p>
                        <p><a class="j" href="Testimonials.html">Review</a></p>
                    </div>
                </div>

                <div class="footer-items">
                    <div class="footer-link-text">
                        <p><a class="k" href="###">Security</a></p>
                        <p><a class="l" href="Contact.html">Contact</a></p>
                        <p><a class="m" href="###">Affiliate Program</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="logo-address-bottom">
        <div class="five-column-wrapper">
            <div class="five-column-wrapper-items">
                <div class="five-column-wrapper-item-brand">
                    <img src="Images/logo.png">
                </div>
            </div>

            <div class="five-column-wrapper-items">
                <div class="five-column-wrapper-item">
                    <div class="five-column-logos">
                        <img src="Images/mastercard-white.png">
                        <img src="Images/visa-white.png">
                        <img src="Images/paypal-white.png">
                        <img src="Images/btc-white.png">
                    </div>
                    <p>We accept all payments</p>
                </div>
            </div>

            <div class="five-column-wrapper-items">
                <div class="five-column-logos">
                    <a href="####"><img src="Images/facebook-white.png" alt="facebook" style="width: 50px; height: 50px;"></a>
                    <a href="####"><img src="Images/instagram-white.png" alt="instagram" style="width: 50px; height: 50px;"></a>
                    <a href="####"><img src="Images/twitter-white.png" alt="twitter" style="width: 50px; height: 50px;"></a>
                    <a href="####"><img src="Images/linkedin-white.png" alt="linkedin" style="width: 50px; height: 50px;"></a>
                </div>
                <p>Social</p>
            </div>

            <div class="five-column-wrapper-items">
                <div class="five-column-wrapper-item">
                    <p>
                        OceanicTrade Mining, Trading, Investment Services Ltd.
                    </p>
                    <p>
                        Trinity Chambers, P.O. Box 4301, Road Town, Tortola, British Virgin Islands
                    </p>
                </div>
            </div>

            <div class="five-column-wrapper-items">
                <div class="five-column-wrapper-item-brand">
                    <img src="Images/ssl-secure-encryption.png">
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">

        <p>The information on this website does not convey an offer of any type and is not intended to be, 
            and should not be construed as, an offer to sell, or the solicitation of an offer to buy, any securities, 
            commodities, or other financial products. In addition, the information on this website does not constitute 
            the provision of investment advice. No assurances can be made that any aims, assumptions, expectations, strategies, 
            and/or goals expressed or implied herein were or will be realized or that the activities or any performance described 
            did or will continue at all or in the same manner as is described on this website.
        </p>

        <hr style="border: dotted 1px; margin: 10px; margin-left: 10%; width: 80%; height: 1px; border-width: 0; color: #274c65; background-color: #274c65;">
    </div>
</footer>
</html>