<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>OceanicTrade Investment</title>
    <link rel='stylesheet' href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="scripts.js"></script>
</head>

<body>
    <div class="container">
        <section>
            <!---Navigation--->
            <div class="nav-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="navbar-brand" href="#"><img src="Images/logo.png" alt="OceanicTrade"></div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="Index.html">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="About-Us.html">About us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="Investment-Plans.html">Investment Plans</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="Customer-Service.html">Customer Service</a>
                            </li>

                            <!--<li class="nav-item">
                                <a class="nav-link " href="Testimonials.html">Testimonials</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="Technology.html">Technology</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="Blog.html">Blog</a>
                            </li>--> 

                            <li class="nav-item">
                                <a class="nav-link " href="Contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
        
        <hr style="margin: 2px; margin-left: 10%; width: 80%; height: 4px; border-width: 0; color: rgba(173, 49, 4, 0.856); background-color: rgba(173, 49, 4, 0.856);">

        <section id="login-form">
            <div class="login-form-wrapper">
                <div class="login-box" id="loginbox">
                    <h1>Create Account</h1>

                    <div class="textbox">
                        <input id="firstname" type="text" placeholder="first name" name="" value="">
                        <small>error message</small>
                    </div>
                    

                    <div class="textbox">
                        <input id="lastname" type="text" placeholder="last name" name="" value="">
                        <small>error message</small>
                    </div>
                    

                    <div class="textbox">
                        <input id="email" type="email" placeholder="E-mail" name="" value="">
                        <small>error message</small>
                    </div>
                    

                    <div class="textbox">
                        <input id="password" type="password" placeholder="password" name="" value="">
                        <small>error message</small>
                    </div>
                    

                    <div class="textbox">
                        <input id="passwordcheck" type="password" placeholder="Repeat password" name="" value="">
                        <small>error message</small>
                    </div>
                    
            
                    <input class="btn" type="submit" name="" value="sign up">

                    <div class="privacy-policy-acceptance">
                        <p>By <b>Signing Up</b>, I've read and understood the <a href="####">Privace Policy</a> of OceanicTrade.</p>
                    </div>

                    <div class="login-response">
                        <p><a href="login-page.html">Already Have an Account?</a></p>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>

<footer>
    <div class="footer">
        <div class="footer-wrapper">
            <div class="four-column-grid">
                <div class="footer-items">
                    <div class="footer-link-text">
                        <p><a class="b" href="Index.html">Home</a></p>
                        <p><a class="c" href="Investment-Plans.html">Investment Plans</a></p>
                        <p><a class="d" href="###">Why OceanicTrade</a></p>
                    </div>
                </div>

                <div class="footer-items">
                    <div class="footer-link-text">
                        <p><a class="e" href="About-Us.html">About Us</a></p>
                        <p><a class="f" href="###">Our Mission</a></p>
                        <p><a class="g" href="###">Financial Planning</a></p>
                    </div>
                </div>

                <div class="footer-items">
                    <div class="footer-link-text">
                        <p><a class="h" href="####">Overview</a></p>
                        <p><a class="i" href="Customer-Service.html">Customer Service</a></p>
                        <p><a class="j" href="Testimonials.html">Review</a></p>
                    </div>
                </div>

                <div class="footer-items">
                    <div class="footer-link-text">
                        <p><a class="k" href="###">Security</a></p>
                        <p><a class="l" href="Contact.html">Contact</a></p>
                        <p><a class="m" href="###">Referral Program</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="logo-address-bottom">
        <div class="five-column-wrapper">
            <div class="five-column-wrapper-items">
                <div class="five-column-wrapper-item-brand">
                    <img src="Images/logo.png">
                </div>
            </div>

            <div class="five-column-wrapper-items">
                <div class="five-column-wrapper-item">
                    <div class="five-column-logos">
                        <img src="Images/mastercard-white.png">
                        <img src="Images/visa-white.png">
                        <img src="Images/paypal-white.png">
                        <img src="Images/btc-white.png">
                    </div>
                    <p>We accept all payments</p>
                </div>
            </div>

            <div class="five-column-wrapper-items">
                <div class="five-column-logos">
                    <a href="####"><img src="Images/facebook-white.png" alt="facebook" style="width: 50px; height: 50px;"></a>
                    <a href="####"><img src="Images/instagram-white.png" alt="instagram" style="width: 50px; height: 50px;"></a>
                    <a href="####"><img src="Images/twitter-white.png" alt="twitter" style="width: 50px; height: 50px;"></a>
                    <a href="####"><img src="Images/linkedin-white.png" alt="linkedin" style="width: 50px; height: 50px;"></a>
                </div>
                <p>Social</p>
            </div>

            <div class="five-column-wrapper-items">
                <div class="five-column-wrapper-item">
                    <p>
                        OceanicTrade Mining, Trading, Investment Services Ltd.
                    </p>
                    <p>
                        Trinity Chambers, P.O. Box 4301, Road Town, Tortola, British Virgin Islands
                    </p>
                </div>
            </div>

            <div class="five-column-wrapper-items">
                <div class="five-column-wrapper-item-brand">
                    <img src="Images/ssl-secure-encryption.png">
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">

        <p>The information on this website does not convey an offer of any type and is not intended to be, 
            and should not be construed as, an offer to sell, or the solicitation of an offer to buy, any securities, 
            commodities, or other financial products. In addition, the information on this website does not constitute 
            the provision of investment advice. No assurances can be made that any aims, assumptions, expectations, strategies, 
            and/or goals expressed or implied herein were or will be realized or that the activities or any performance described 
            did or will continue at all or in the same manner as is described on this website.
        </p>

        <hr style="border: dotted 1px; margin: 10px; margin-left: 10%; width: 80%; height: 1px; border-width: 0; color: #274c65; background-color: #274c65;">
    </div>
</footer>
</html>